async-timeout==4.0.2
billiard==3.6.4.0
celery==5.2.7
charset-normalizer==3.1.0
DateTime==5.0
decorator==5.1.1
executing==1.2.0
Flask==2.2.3
html5lib==1.1
importlib-metadata==6.0.0
ipython==8.11.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
matplotlib-inline==0.1.6
multitasking==0.0.11
nltk==3.8.1
numpy==1.24.2
packaging==23.0
pandas==1.5.3
pymongo==4.3.3
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
redis==4.5.4
regex==2022.10.31
requests==2.28.2
requests-futures==1.0.0
socketIO-client-nexus==0.7.6
stack-data==0.6.2
tzdata==2022.7
tzlocal==4.2
update-checker==0.18.0
urllib3==1.26.14
vine==5.0.0
waitress==2.1.2
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.2.3
yfinance==0.2.13
praw==3.1.0