{% extends 'base.html' %}

<!-- First half of the website(Home) -->
{% block function %}
    <h1>Stock Trend Analyzer using r/stock</h1>
    <p class="description">Put the specific date range to use our r/stock analyzer!(Date has to be within 3 years range)</p>
    <form id="form" name="input_data" method="POST">
      <fieldset>
        <p>
          <label for="start" class="form__label">Start date:</label>
          <input type="date" name="start" required pattern="\d{4}-\d{2}-\d{2}" />
        </p>
        <p>
          <label for="end" class="form__label">End date:</label>
          <input type="date" name="end" required pattern="\d{4}-\d{2}-\d{2}" />
        </p>
        <p>
          <button type="submit" class="form__submit">Analyze</button>
        </p>
      </fieldset>
    </form>
{% endblock %}

<!-- Second half of the website(Home) -->

{% block about %}
    This is about
{% endblock %}
