{% extends 'base.html' %}

<!-- First half of the website(Home) -->
{% block function %}
    <h1>r/stock Trend Analyzer</h1>
    <p class="description">Put the specific date range to use our r/stock analyzer!(Date has to be within 2 years range)</p>
    <form id="form" name="input_data" method="POST">
      <fieldset>
        <p>
          <label for="start" class="form__label">Start date:</label>
          <input type="date" name="start" required pattern="\d{4}-\d{2}-\d{2}" />
        </p>
        <p>
          <label for="end" class="form__label">End date:</label>
          <input type="date" name="end" required pattern="\d{4}-\d{2}-\d{2}" />
        </p>
        <p>
          <button type="submit" class="form__submit">Analyze</button>
        </p>
      </fieldset>
    </form>
{% endblock %}

<!-- Second half of the website(Home) -->

{% block about %}
    <h1 style="font-weight: bold"> About r/stock Trend Analyzer </h1>
    <p class="about_text"> r/stock Trend Analyzer is built by a college student studying computer science. The main purpose of the project is to 
        provide resources for investors, including myself, who want to understand trending stocks <a href="https://www.reddit.com/r/stocks/">r/stock</a>(stock subreddit page). The subreddit consists of 
        over 5,400,000 retail investors and when comparing to r/wallstreetbets, another extremely popular subreddit consisting of over 11 million followers, 
        r/stock has more conservative investing perspective and has more serious attitude regarding investing. 
        <br> <br>When a user inputs date range that she wants to investigate, the website outputs top 20 stocks mentioned in r/stock during the time range, their mentioned numbers 
        their performance compared to 3 major US stock index(Dow Jones, SP&500, Nasdaq). In addition, it provides top 15 most upvoted posts with 'Company Analysis', 'Company Discussion', 'Industry Discussion' tags, individually.
        Also, by analyzing words in every post in the time range, it provides sentiment index(inspired by CNN's fear and greed index) of retail investors in r/stocks. 
        

        
    </p>
{% endblock %}
